.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header .close {
    margin: 35px 15px;
}

.question {
    font-size: calc(10px + 15vmin);
}

.choices {
    padding: 0;
}

.choices li {
    cursor: pointer;
    font-size: calc(10px + 5vmin);
    display: inline-block;
    margin: 10px;
    padding: 30px;
    width: 20%;
    border-radius: 10%;
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
    border: 2px solid #048CBA;
}

.choices li:hover {
    background-color: #048CBA;
}

@media (hover: none) {
    .choices li:hover {
        background-color: #ccc;
    }
}

progress {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    display: block;
}

progress::-webkit-progress-value {
    background: #048CBA;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #282c34;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content table {
    width: 100%;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10%;
    transition-duration: 0.4s;
    background-color: #888;
}

.btn {
    background-color: #888;
}

.btn:hover {
    border: 2px solid #ccc;
    background-color: #ccc;
}

.btn.next,
.btn.review {
    background-color: #048CBA;
    border: 2px solid #048CBA;
}

.btn.next:hover,
.btn.review:hover {
    background-color: #48abcc;
}

.correct b::before {
    color: greenyellow;
    content: "O";
}

tr.incorrect {
    background-color: rosybrown;
}

.incorrect b::before {
    color: red;
    content: "X";
}

.close {
    float: right;
    margin: -10px;
    border: 1px solid #ccc;
    padding: 0px 10px 5px 10px;
    cursor: pointer;
}

.close:hover {
    background-color: #888;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}

p {
    font-size: calc(10px + 5vmin);
}


.sections li {
    font-size: calc(10px + 5vmin);
    display: inline-block;
    margin: 10px;
    width: 30%;
}

/* Customize the label (the section) */
.section {
    display: block;
    position: relative;
    margin: calc(5px + 2vmin);
    padding: calc(5px + 2vmin);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
    padding: calc(5px + 2vmin);
    /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.section:hover input~.checkmark {
    /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.section input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.section input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.section .checkmark:after {
    left: -20px;
    top: calc(0px + 1vmin);
    width: calc(5px + 1vmin);
    height: calc(10px + 2vmin);
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}