.schulte-table {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 150px;
    height: calc(100% - 200px);
}

.schulte-table .cell {
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    margin-top: -6px;
    transition-duration: 0.4s;
}

.schulte-table.size-3x3 .cell {
    width: calc(33% - 2px);
    height: calc(33% - 2px);
}

.schulte-table.size-4x4 .cell {
    width: calc(25% - 2px);
    height: calc(25% - 2px);
}

.schulte-table.size-5x5 .cell {
    width: calc(20% - 2px);
    height: calc(20% - 2px);
}

.schulte-table .cell span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(10px + 10vmin);
    font-weight: bold;
    user-select: none;
}

.schulte-table .cell.correct {
    background-color: #5DB75D !important;
}

.schulte-table .cell.incorrect {
    background-color: #D9544E !important;
}

.schulte-table .cell:hover {
    background-color: #048CBA;
}

@media (hover: none) {
    .schulte-table .cell:hover {
        background-color: inherit;
    }
}