.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header .close {
    margin: 50px 30px;
}

.question {
    font-size: calc(10px + 20vmin);
    min-width: 600px;
}

.selections {
    padding: 0;
}

.selections li {
    cursor: pointer;
    font-size: calc(10px + 5vmin);
    display: inline-block;
    margin: 10px;
    padding: 30px;
    width: 20%;
    border-radius: 10%;
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
    border: 2px solid #048CBA;
}

.selections li:hover {
    background-color: #048CBA;
}

progress {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    display: block;
}

progress::-webkit-progress-value {
    background: #048CBA;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #282c34;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content table {
    width: 100%;
    margin-bottom: 30px;
}

.modal-content .btn-close {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 10%;
    transition-duration: 0.4s;
    background-color: #888;
}

.modal-content .btn-close:hover {
    border: 2px solid #ccc;
    background-color: #ccc;
}

.pass b::before {
    color: greenyellow;
    content: "O";
}

tr.fail {
    background-color: rosybrown;
}

.fail b::before {
    color: red;
    content: "X";
}

.close {
    float: right;
    margin: -10px;
    border: 1px solid #ccc;
    padding: 0px 10px 5px 10px;
    cursor: pointer;
}

.close:hover {
    background-color: #888;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}

p {
    font-size: calc(10px + 5vmin);
}

.btn-next {
    cursor: pointer;
    margin: 10px;
    padding: 10px 50px;
    border-radius: 10%;
    transition-duration: 0.4s;
    background-color: #048CBA;
    border: 2px solid #048CBA;
}

.btn-next:hover {
    background-color: #48abcc;
}